#main-page{
	margin: 10px 80px;
}

#teks-pembuka{
	font-size: 27px;
	padding: 20px 0;
}

#teks-pencarian{
	font-size: 17px;
	padding: 20px 0;
}

#name-logout{
	text-align: right;
}
.item{
	width: 100%;
	margin-bottom: 50px;
}

.item .date-added1{
	font-size: 0.9em;
}

.item .date-added{
	font-size: 0.9em;
}

.item .item-dalam{
	padding: 0 10px;
}


.item .baris-item{
	display: inline-block;
	vertical-align: top;
}

.item .gambar{
}

.item .gambar img{
	width: 100px;
	height: 100px;
	padding: 0 10px;
}

.item .detail{
	width: 220px;
	margin-left: 15px;
}

.item .detail .nama{
	font-weight: bold;
}

.item .detail .pembeli{
	font-size: 0.9em;
}

.item .delivery{
	float: right;
	text-align: left;
	font-size: 0.9em;
	width: 150px;
	padding: 0 10px;
}
